<nav class="navbar navbar-expand-sm navbar-dark bg-dark mynav">
    <a href="{{ url_for('numpy' ,question_id=1) }}" class="pro">Project Detail</a>
    <a href="https://github.com/shourya2002-geek/Web-Dev" class=" pro" target="_blank">Model Code</a>
   
    <div id="navbarMenu">
        <ul class="navbar-nav side">
            <li class="nav-item myli">
                <a href="https://raw.githubusercontent.com/codebasics/py/master/ML/2_linear_reg_multivariate/Exercise/hiring.csv"
                    target="_blank" class="nav-link nli">Datasets</a>
            </li>
            <li class="nav-item myli">
                <a href="https://www.linkedin.com/in/shourya-gupta-80237b1b9/" class="nav-link nli">Contact</a>
            </li>
        </ul>
    </div>

</nav>